name: Run Tests

on: [ push ]

env:
  dotnet-ver: 9.0.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "${{ env.dotnet-ver }}"

      - name: Run .NET Restore
        run: dotnet restore FalloutVault.Tests

      - name: Run FalloutVault.Tests
        run: dotnet test FalloutVault.Tests -s .runsettings --no-restore

      - name: Upload Test Results
        uses: actions/upload-artifact@v5
        with:
          name: TestResults
          path: TestResults
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
